.text-primary {
  color: #ffd333 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #e6b400 !important;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}
small {
  font-size: 80%;
}

.detaBtn {
  background-image: linear-gradient(to right, #8b4403 0%, #8b4403 50%, #d1d1d1 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 5px #000;
}

.detaBtn:hover {
  background-position: right center;
}
